.sidebar {
  background-color: rgb(224, 224, 224);
  color: #222;
  width: 250px;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 0 0 8px rgba(70, 69, 69, 0.5);
  margin-top: 1rem;
}

.sidebarTitulo {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid #ff4500;
  padding-bottom: 5px;
}

.sidebarLista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarItem {
  margin-bottom: 15px;
}

.sidebarItem a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #222;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.sidebarItem > a:hover {
  color: #ff4500;
}

.sidebarItem a svg {
  font-size: 1.4rem;
  color: #ff4500;
  transition: color 0.3s ease;
}

.sidebarItem > a:hover svg {
  color: #222;
}
