.listaDeProductos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  gap: 1.5rem;
  padding: 2rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
