* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  gap: 2rem;
}

.contenido {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.contenido .search {
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 5rem;
}

.itemList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
